@model CozaStore.Core.ViewModels.RequestOrderVM

@{
    ViewData["Title"] = "RquestOrder";

}

<h3>RquestOrder</h3>
<p> Scroll left or right to buy</p>

<hr />


<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
        
        </tr>
    </thead>
    <tbody>
        <tr>

            <td>@Model.product.Name</td>
            <td>@Model.product.Price</td>
            <td> <img style="width:200px; height:200px;" src="~/Uploads/@Model.product.Image" alt="IMG-PRODUCT" asp-append-version="true"></td>
            <td></td>
            <td>

                <div class="row">
                    <div class="col-md-4">

                        <form asp-action="RquestOrder">

                            <input type="hidden" asp-for="product.Id" />
                            <input type="hidden" asp-for="product.Name" />
                            <input type="hidden" asp-for="product.Price" />
                            <input type="hidden" asp-for="product.Image" />


                            <div class="form-group">
                                <label asp-for="CustomerName" class="control-label"></label>
                                <input asp-for="CustomerName" class="form-control" />
                                <span asp-validation-for="CustomerName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Phone" class="control-label"></label>
                                <input asp-for="Phone" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>



                            <input type="hidden" asp-for="product" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="ItemNumbers" class="control-label"></label>
                                <input asp-for="ItemNumbers" class="form-control" />
                                <span asp-validation-for="ItemNumbers" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="product.Size" class="control-label"></label>


                                @* asp-items="Html.GetEnumSelectList<CozaStore.Core.Enums.Size>()" *@

                            <select asp-for="product.Size" class="custom-select mr-2">


                                @if (Model.product.Type == CozaStore.Core.Enums.Type.Clothes)
                                {
                                    <option value="@CozaStore.Core.Enums.Size.Small"> @CozaStore.Core.Enums.Size.Small </option>
                                    <option value="@CozaStore.Core.Enums.Size.Mediam"> @CozaStore.Core.Enums.Size.Mediam </option>
                                    <option value="@CozaStore.Core.Enums.Size.Large">@CozaStore.Core.Enums.Size.Large</option>
                                    <option value="@CozaStore.Core.Enums.Size.XL"> @CozaStore.Core.Enums.Size.XL</option>
                                    <option value="@CozaStore.Core.Enums.Size.XXl"> @CozaStore.Core.Enums.Size.XXl</option>
                                    <option value="@CozaStore.Core.Enums.Size.xxxL"> @CozaStore.Core.Enums.Size.xxxL </option>
                                }
                        

                                @if (Model.product.Type == CozaStore.Core.Enums.Type.Shoes)
                                {
                                    <option value="@CozaStore.Core.Enums.Size.forty"> @CozaStore.Core.Enums.Size.forty</option>
                                    <option value="@CozaStore.Core.Enums.Size.fortyOne">@CozaStore.Core.Enums.Size.fortyOne </option>
                                    <option value="@CozaStore.Core.Enums.Size.fortyTwo">@CozaStore.Core.Enums.Size.fortyTwo </option>
                                    <option value="@CozaStore.Core.Enums.Size.fortyThree"> @CozaStore.Core.Enums.Size.fortyThree </option>
                                    <option value="@CozaStore.Core.Enums.Size.fortyFoure"> @CozaStore.Core.Enums.Size.fortyFoure </option>
                                    <option value="@CozaStore.Core.Enums.Size.fortyFive"> @CozaStore.Core.Enums.Size.fortyFive </option>
                                }else
                                {
                                    <option value="@CozaStore.Core.Enums.Size.Only_One_Size"> @CozaStore.Core.Enums.Size.Only_One_Size </option>
                                }






                            </select>




                                <span asp-validation-for="product.Size" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <input type="submit" value="Buy" class="btn btn-primary" />
                            </div>
                        </form>







                    </div>
                </div>

                <div>
                    <a asp-controller="home" asp-action="Index">Back to List</a>
                </div>
            </td>
        </tr>

    </tbody>
</table>


<div>
    <a href='javascript:history.go(-1)'>Back to List</a>
</div>